<footer id="page-footer">
  <p>
    Copyright &copy; 2017<br/>
    <%= link_to "Steve's UNF student website", "http://www.unf.edu/~n00186780" %><br/>
    <%= link_to "Steve's Internet Programming Group website", "http://139.62.210.151/~group3/cop4813" %>
  </p>
</footer>
